/* Context menu */
#context-menu {
    position: fixed;
    display: none;
    padding: 0 10px;
    width: 100px;
    border-radius: 2px;
    background-color: var(--input-bg-color);
    color: var(--text-primary-bright-color);
    box-shadow: var(--shadow-default);
    z-index: 10;
    top: 0;
    left: 0;
    -moz-user-select: none;
}

.menu-entry {
    padding: 5px;
    box-shadow: none;
    transition: all 0.2s var(--default-transition);
}

.menu-entry:hover {
    margin: 0 -10px;
    box-shadow: var(--shadow-default);
}

.menu-entry:first-child {
    padding-top: 10px;
}

.menu-entry:last-child {
    padding-bottom: 10px;
}

/* Drop down selection */
.select {
    border: none;
    color: white;
    border-radius: 2px;
    z-index: 8;
    -moz-user-select: none;
    transition: background-color 0.2s;
}

.select.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12px;
    padding: 6px;
    font-size: 13px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--border-color);
}

.select.container:hover {
    border: 1px solid var(--border-color-hover);
}

.select.container.active > svg.drop-down.select {
    transform: rotate(0deg);
}

.select > .selected {
    position: relative;
    top: -1px;
}

.drop-down.container {
    position: fixed;
    padding: 0;
    opacity: 0;
    background-color: var(--input-bg-color);
    pointer-events: none;
    transition: opacity 0.2s;
    border: 1px solid var(--border-color-hover);
}

svg.drop-down.select {
    padding: 0 3px;
    transform: rotate(90deg);
    width: 8px;
    height: 8px;
}

.menu-entry.drop-down {
    padding: 3px 22px 3px 8px;
    margin: 0 !important;
}

.menu-entry.drop-down.hover {
    box-shadow: var(--shadow-select);
    background-color: var(--blue-focus);
}

.menu-entry.drop-down.select {
    /*top: -2px;*/
    text-indent: -2px;
    border-bottom: 1px solid var(--border-color-hover);
    border-radius: 0;
}

.menu-entry.drop-down.select.hover {
    box-shadow: none;
    background-color: var(--input-bg-color);
}

.select.container.active .drop-down.container {
    opacity: 1;
    pointer-events: auto;
}

/* Info popup */
#info-popup {
    display: none;
    z-index: 10;
    text-align: left;
}

/* Info message */
#info-message {
    display: none;
    top: 20px;
    padding: 10px;
    z-index: 8;
}

/* Error message */
#error-message {
    bottom: 20px;
    background-color: firebrick;
    opacity: 0;
    z-index: 8;
    pointer-events: all;
    cursor: default;
    transition: opacity 2s;
}

#color-pipette-preview {
    display: none;
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: black;
    z-index: 8;
    border: 1px solid var(--border-color);
}

#error-message.active {
    opacity: 1;
    transition: none;
}

.popup {
    position: fixed;
    max-width: 500px;
    pointer-events: none;
    text-align: center;
}