hr {
    margin: 0;
    height: 1px;
    background-color: #5a5a5c;
    border:none;
}

#context-menu {
    position: fixed;
    display: none;
    padding: 0 10px;
    width: 100px;
    border-radius: 3px;
    background-color: #474749;
    box-shadow: 0 1px 8px 0 rgba(12, 12, 13, 0.2);
    z-index: 10;
    top: 0;
    left: 0;
    -moz-user-select: none;
}

.menu-entry {
    padding: 5px;
    box-shadow: none;
    transition: box-shadow 0.1s, margin 0.1s;
}

.menu-entry:hover {
    margin: 0 -10px;
    box-shadow: 0 1px 8px 0 rgba(12, 12, 13, 0.2);
}

.menu-entry:first-child {
    padding-top: 10px;
}

.menu-entry:last-child {
    padding-bottom: 10px;
}

#info-popup {
    display: none;
    z-index: 10;
    text-align: left;
}

#info-message {
    display: none;
    top: 20px;
    padding: 10px;
    z-index: 8;
}

#error-message {
    bottom: 20px;
    background-color: firebrick;
    opacity: 0;
    z-index: 8;
    transition: opacity 2s;
}

#error-message.active {
    opacity: 1;
    transition: none;
}

.popup {
    position: fixed;
    max-width: 500px;
    pointer-events: none;
    text-align: center;
}