body {
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    align-items: flex-start;
}

.window-container.settings {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    height: auto;
}

#warning {
    display: flex;
    flex-direction: column;
    position: fixed;
    max-width: 500px;
    color: var(--text-primary-color);
    z-index: 5;
}

#warning > h1 {
    margin-top: 0;
    color: var(--warning-color);
    font-size: 22px;
    font-weight: 300;
}

#warning > .button-container {
    margin: 25px 0 0 0;
}

#warning label + .label {
    line-height: 32px;
    margin-left: 4px;
}

#settings-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    min-height: calc(100vh - 130px);
    margin: 50px;
}

#settings {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#settings-left {
    flex: 1;
    margin-right: 10px;
}

#settings-right {
    flex: 1;
    margin-left: 10px;
}

#settings-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#settings-end > .option-row {
    padding-bottom: 20px;
}

.option-row + .header3 {
    padding-top: 10px;
}

.nested-options {
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s var(--default-transition);
}

.option-row.nested {
    width: calc(100% - 20px);
    align-self: flex-end;
}

#import-button:before {
    content: "Import";
}