#creator {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.2s ease-in-out;
}

#whats-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.2s ease-in-out;
}

#settings-icon {
    display: none;
    position: fixed;
    right: 2%;
    top: 2%;
    width: 3%;
    height: 3%;
}

#speeddial {
    display: none;
    flex-direction: column;
    height: auto;
    position: relative;
}

#editor {
    display: flex;
    flex-direction: column;
    /*height: 95px;*/
    width: 300px;
    align-content: center;
    justify-content: center;
    column-gap: 10px;
    overflow: hidden;
}

#reflection {
    justify-self: center;
}

#upload-animation {
    display: none;
    position: relative;
    margin-top: -26px;
    /*margin: 0 !important;*/
    background-color: transparent;
    border: 1px solid #0a84ff;
    animation: uploading 0.85s cubic-bezier(.45,.05,.55,.95) infinite;
}

/* Creator Image background */
#background-image-icon {
    display: flex;
    align-items: center;
}

/* Tile preview */
#tile-preview-container {
    display: flex;
    width: 100%;
    height: 0;
    padding-top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

#tile-preview {
    background-color: black;
}

#tile-options {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    flex-direction: column;
    margin: 15px 0;
}

#show-options-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary-color);
    font-weight: 600;
    cursor: pointer;
    -moz-user-select: none;
    white-space: nowrap;
}

#options {
    display: flex;
    flex-direction: column;
    height: 0;
    padding-top: 0;
    width: 95%;
    align-items: center;
    align-self: center;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

#display-type-select {
    position: relative;
}

#display-size-percentage-input {
    display: none;
    position: relative;
    left: 8px;
}

.editor-button.left {
    display: flex;
    width: auto;
    margin: 0 5px;
}

.editor-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editor-buttons-container.parent {
    justify-content: space-between;
}

.editor-buttons-container.left {
    justify-content: space-evenly;
}

.editor-buttons-container.right {
    justify-content: space-evenly;
}

.multi-button-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
}

.multi-button-container > .button {
    background-color: #464647;
    border-radius: 0;
}

.multi-button-container > .button:hover {
    background-color: #59595a;
}

.multi-button-container > .button:last-child {
    border-radius: 0 0 2px 2px;
}

#generate-button > .button {
    width: 66px;
}

/*Editor buttons*/
#gallery-button {
    display: none;
}

#browse-button:before {
    content: "Browse...";
}

/* Icon Preview */
.icon-selection-row {
    position: relative;
    display: flex;
    flex-direction: row;
    opacity: 0.7;
}

.tile.icon-select {
    opacity: 1;
    border: 4px solid var(--main-bg-color);
}

.tile.icon-select.selected {
    border: 4px solid var(--text-primary-bright-color);
}

.icon-tile-background {
    position: absolute;
    background-image: /* tint image */
            linear-gradient(to right, rgba(225, 225, 225, 0.8), rgba(225, 225, 225, 0.8)),
                /* checkered effect */
            linear-gradient(to right, black 50%, white 50%),
            linear-gradient(to bottom, black 50%, white 50%);
    background-blend-mode: normal, difference, normal;
    background-size: 2vmin 2vmin;
}

#icon-selection > .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.controls > .left {
    margin-left: 4px;
}

.controls > .right {
    margin-right: 4px;
}

/*Tiles*/
.row {
    display: flex;
    flex-direction: row;
}

.tile {
    opacity: 0.7;
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transition: opacity 0.1s;
}

.tile.empty {
    background-color: white;
    background-image: url("../images/add.svg");
    background-size: contain;
    opacity: 0.3;
}

.vspacer {
    height: 100%;
    background-color: transparent;
}

/*Tile reflection*/
.tile.reflection {
    opacity: 0.4;
    transform: scaleY(-1);
    z-index: -1;
}

.row.reflection {
    margin-bottom: 0;
    overflow: hidden;
}

#reflection-container {
    position: relative;
}

#reflection-gradient {
    position: absolute;
    width: 100%;
}

@keyframes uploading {
    0% {clip-path: inset(0px 208px 0px 0px)}
    50% {clip-path: inset(0px 0px 0px 208px)}
    100% {clip-path: inset(0px 208px 0px 0px)}
}