.color-picker {
    width: 400px;
    height: 220px;
}

.color-picker label {

}

.color-picker input {
    background-color: #0c0c0d;
    border: 1px solid #42484f;
    color: #e1e1e1;
    width: 127px;
    padding: 3px 2px;
    font-size: 13px
}

.color-picker .h-box {
    display: flex;
    flex-direction: row;
    height: 200px;
}

.color-picker .show-opacity {
    background-image:
            linear-gradient(to right, rgba(225, 225, 225, 0.8), rgba(225, 225, 225, 0.8)),
            linear-gradient(to right, black 50%, white 50%),
            linear-gradient(to bottom, black 50%, white 50%);
    background-blend-mode: normal, difference, normal;
    background-size: 1vw 1vw;
}

.color-picker .marker {
    position: relative;
    box-sizing: border-box;
}

.color-picker .color-picker {
    display: flex;
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(50, 50, 52);
}

/*Pickers*/
.color-picker .sat-val-picker {
    user-select: all;
    width: 200px;
    height: 100%;
    background:
            linear-gradient(to bottom, transparent, black),
            linear-gradient(to left, transparent, white),
            linear-gradient(red, red);
    overflow: hidden;
}

.color-picker .sat-val-picker .marker {
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-radius: 50%;
}

.color-picker .picker-container .show-opacity {
    width: 30px;
    margin-left: 20px;
    height: 100%;
}

.color-picker .alpha-picker {
    -webkit-appearance: slider-vertical;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, red);
}

.color-picker .alpha-picker .marker {
    display: flex;
    justify-content: space-between;
    width: calc(100% + 30px);
    height: 15px;
    left: -15px;
}

.color-picker .alpha-picker .marker .left {
    width: 15px;
    height: 15px;
    /*background-image: url("../../graphics/marker.svg");*/
}

.color-picker .alpha-picker .marker .right {
    width: 15px;
    height: 15px;
    /*background-image: url("../../graphics/marker.svg");*/
    transform: scaleX(-1);
}

.color-picker .hue-picker {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    background:
            linear-gradient(to right,
            hsl(0, 100%, 50%),
            hsl(30, 100%, 50%),
            hsl(60, 100%, 50%),
            hsl(90, 100%, 50%),
            hsl(120, 100%, 50%),
            hsl(150, 100%, 50%),
            hsl(180, 100%, 50%),
            hsl(210, 100%, 50%),
            hsl(240, 100%, 50%),
            hsl(270, 100%, 50%),
            hsl(300, 100%, 50%),
            hsl(330, 100%, 50%),
            hsl(360, 100%, 50%));
}

.color-picker .hue-picker .marker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15px;
    height: calc(100% + 30px);
    top: -15px;
}


.color-picker .hue-picker .marker .top {
    width: 15px;
    height: 15px;
    /*background-image: url("../../graphics/marker.svg");*/
    align-items: center;
    transform: rotate(90deg);
}

.color-picker .hue-picker .marker .bottom {
    width: 15px;
    height: 15px;
    /*background-image: url("../../graphics/marker.svg");*/
    transform: rotate(270deg);
    align-items: center;
    bottom: 0;
}

.color-picker .marker svg {

}

/*Preview*/
.color-picker .preview-container {
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.color-picker .color-preview-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.color-picker .color-preview {
    width: 50%;
    height: 100%;
}

.color-picker .color-before {
    background-color: red;
}

.color-picker .color-current {
    background-color: green;
}

/*Inputs*/
.color-picker .color-inputs {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.color-picker .color-inputs * {
    font-family: "Roboto Mono", monospace;
}

.color-picker .color-inputs label {
    grid-column: 1;
}

.color-picker .color-inputs .hex-input {
    grid-column: 2;
    user-select: text;
}

.color-picker .color-inputs label span.highlight {
    color: #0060df;
    font-weight: bold;
}

.color-picker .color-inputs .four-val-input {
    grid-column: 2;
    border: 1px solid #42484f;
    display: flex;
    flex-direction: row;
}

.color-picker .color-inputs .four-val-input input {
    width: 28px;
    overflow: hidden;
    border: none;
    user-select: text;
    text-align: right;
}

.color-picker .hex-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.color-picker .hex-input-container .hex {
    position: absolute;
    user-select: none;
    color: #e1e1e1;
    left: 2px;
}

.color-picker .color-inputs .hex-input {
    width: 78px;
    text-indent: 8px;
}